@import "../variables_templates";

// * FOOTER

#copyright {
  overflow: hidden;
  padding: 3em 0 4em 0;

  p {
    font-size: 0.8em;
    color: $footer-color;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: $footer-link;
  }
}
