@import '../variables_templates';
@import '../mixins';

/*
=============== 
Navbar
===============
*/
nav {
    background: transparent
    // box-shadow: $light-shadow;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.nav-toggle {
    font-size: 1.5rem;
    color: $clr-grey-9;
    background: transparent;
    border-color: transparent;
    cursor: pointer;

    @include transition($transition-nav);

    &:hover {
        color: $clr-primary-4;
        transform: rotate(90deg);
    }
}

.logo { height: 30px; }

.links .a {
    color: $clr-primary-10;
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: none;
    //letter-spacing: $spacing;
    display: block;
    padding: 0.5rem 1rem;

    @include transition($transition-nav);
    
    &:hover {
        background: $clr-primary-8;
        color: $clr-primary-9;
        padding-left: 1rem;
    }
}

.links-container {
    height: 0;
    overflow: hidden;
    @include transition($transition-nav);
}

.show-container { height: 10rem; }

@media screen and (min-width: 800px) {
    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .nav-header { padding: 0; }

    .nav-toggle { display: none; }

    .links-container { height: auto !important; }

    .links {
        display: flex;
    
        .a {
            padding: 0;
            margin: 0 0.5rem;
        
            &:hover {
                padding: 0;
                background: transparent;
            }
        }
    }

}
