// * MIXINS

// font-weight and size for h1-5 and buttons
@mixin fontz($fw, $fz) {
  font-weight: $fw;
  font-size: $fz;
}

// position + top
@mixin pos-top($pos, $top) {
  position: $pos;
  top: $top;
}

// float + width
@mixin float-width($float, $width) {
  float: $float;
  width: $width;
}

// float + width (calculated) +         text-align;
// width formula: ('width-main' * 'x%') / ('width-main' + 'width-side')
@mixin float-text-width($float, $text-a, $w-main, $w-side, $percent) {
  float: $float;
  width: (($w-main * $percent) / ($w-main + $w-side));
  text-align: $text-a;
}

// transition for navbar
@mixin transition($tr) {
  transition: $tr;
  -webkit-transition: $tr;
  -moz-transition: $tr;
  -ms-transition: $tr;
  -o-transition: $tr;
}

// menu button style (+hover)
@mixin background-brdradius($background, $brdradius) {
  background-color: $background;
  border-radius: $brdradius;
}

// _base.scss button + navbar links
@mixin display-text-transform-decor($disp, $ttr, $tdec) {
  display: $disp;
  text-transform: $ttr;
  text-decoration: $tdec;
}

// _about.grid.scss padding (sides)
@mixin pad-sides ($p-left-right) {
  padding-left: $p-left-right;
  padding-right: $p-left-right;
}


// * grid

// AboutContent component
// text-area: 1title, 3-column(.box1-3); minmax(min?, $max), gap(?)
@mixin grid-3-column ($minmax, $gap) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax($minmax, auto);
  margin: 0 auto;
  grid-gap: $gap;

  // grid area
  @content;
}

// grid for media queries
// wrapper, containers
// grid area
@mixin grid-area-names {
  .title { grid-area: title; }
  .box1 { grid-area: box1; }
  .box2 { grid-area: box2; }
  .box3 { grid-area: box3; }
}

@mixin grid-area-3-column {
  grid-template-areas:
    "title title title"
    "box1 box2 box3";

  @include grid-area-names;
}

@mixin grid-area-1-column {
  grid-template-areas:
    "title title title"
    "box1 box1 box1"
    "box2 box2 box2"
    "box3 box3 box3";

  @include grid-area-names;
}


// * media queries (conditions)
// queue of media queries: should be the same order as in the mixin
@mixin for-size($size) {
  @if $size==phone-only {
    @media (max-width: 649px) {
      @content;
    }
  } @else if $size==tablet-portrait-up {
    @media (min-width: 650px) {
      @content;
    }
  } @else if $size==tablet-landscape-up {
    @media (min-width: 905px) {
      @content;
    }
  } @else if $size==desktop-up {
    @media (min-width: 1300px) {
      @content;
    }
  }
}
