@import "../variables_templates";
@import "../mixins";

// * MAIN

#aboutPage {
  @include for-size(tablet-landscape-up) {
    justify-content: space-between;
  }

  @include for-size(desktop-up) {
    justify-content: space-between;
  }
}

#main_sidebar_content {
  @include for-size(phone-only) {
    h3 {
      font-size: 1.75rem;
    }
  }

  @include for-size(tablet-portrait-up) {
    .imageIcon {
      font-size: 18rem;
    }
  }

  @include for-size(tablet-landscape-up) {
    h3 {
      font-size: 2rem;
    }

    // ($float, $text-a, $w-main, $w-side, $percent)
    // width formula: ('width-main' * 'x%') / ('width-main' + 'width-side')
    @include float-text-width(left, left, 750px, 450px, 75%);

    .byline {
      @include fontz(400, 1.1rem);
    }

    .imageIcon {
      font-size: 9rem;
    }
  }

  @include for-size(desktop-up) {
    h3 {
      font-size: 2.8rem;
    }

    @include float-text-width(left, left, 800px, 550px, 90%);

    .byline {
      @include fontz(400, 1.2rem);
    }

    .imageIcon {
      font-size: 15rem;
    }
  }
}

#sidebar {
  @include for-size(phone-only) {
    #stwo-col,
    .style1 {
      justify-content: space-around;
    }
  }

  @include for-size(tablet-portrait-up) {
    #stwo-col,
    .style1 {
      justify-content: space-around;
    }

    .style1 {
      margin: auto 5%;
    }
  }

  @include for-size(tablet-landscape-up) {
    @include float-text-width(left, left, 700px, 450px, 80%);

    .style1 {
      margin: auto 1%;
    }

    .sidebar_1li {
      padding-top: 0.49em;
    }
  }

  @include for-size(desktop-up) {
    @include float-text-width(right, left, 550px, 800px, 98%);

    .sidebar_1li {
      padding-top: 0.91em;
    }
  }
}

// end of #sidebar

#stwo-col {
  @include for-size(tablet-portrait-up) {
    justify-content: space-around;
  }

  @include for-size(desktop-up) {
    justify-content: space-between;
    .sbox1,
    .sbox2 {
      width: 48%;
    }
  }
}
